.DS_Store

node_modules
npm-debug.log
wtfpython-pypi/build/
wtfpython-pypi/dist/
wtfpython-pypi/wtfpython.egg-info

# Python-specific byte-compiled files should be ignored
__pycache__/
*.py[cod]
*$py.class

irrelevant/.ipynb_checkpoints/

irrelevant/.python-version

.idea/


# configuration and readme
!.gitignore
!.gitpod.yml
!.gitpod.Dockerfile
!learn.json
!README.md

# exercises
!.learn/
!.learn/*
.learn/_app
.learn/.session
.learn/dist
.learn/app.tar.gz
.learn/config.json

# python compiled files
*.pyc
__pycache__/
.pytest_cache/